.react-calendar {
    width: 100%;
    max-width: 800px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 1rem;
    color: #2c3e50;
}

.react-calendar__navigation button {
    color: #34495e;
    font-weight: bold;
}

.react-calendar__month-view__weekdays {
    border-bottom: 1px solid #000000;
    color: #3c9ae7;
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
}

.react-calendar__tile {
    position: relative;
    border: 1px solid #000000 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    color: #000000;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px;
}

.react-calendar__month-view__days {
    border-left: 1px solid #000000;
}

.react-calendar__tile abbr {
    display: block;
    margin-bottom: auto;
    padding: 2px;
    font-size: 1.3em !important;
    font-weight: bold;
}

.react-calendar__tile--now {
    color: #18ab24 !important;
    background-color: #b9ffe2 !important;
    font-weight: bold;
}

.react-calendar__navigation__label {
    font-size: 1.5em !important;
    font-weight: bold;
}

.react-calendar__navigation__label__labelText--from {
    font-size: clamp(26px, 2vw, 1.5em);
}

.react-calendar__tile--active {
    background-color: #e6f7ff !important;
    color: #1890ff !important;
}

.react-calendar__tile--active abbr {
    color: #1890ff !important;
}

.react-calendar__tile:enabled:hover {
    background-color: #f0f0f0;
}

.react-calendar__navigation__label:hover {
    background-color: transparent !important;
    cursor: default !important;
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__next-button:hover {
    background-color: #f0f0f0 !important;
    cursor: pointer !important;
}